/* h1{
  color: rgb(255, 193, 205);
  font-size: 5em;
}

body{
  background-color: burlywood;
}
a{
  margin-left: 40px;
}
.contact_head{
  color: blueviolet;
}
.about_head{
  color: cornflowerblue;
} */

/* class 2 */
* {
  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(255, 193, 205);
  font-size: 5em;
}

body {
  background-color: rgb(211, 107, 138);
}
a {
  margin-left: 40px;
}
.contact_head {
  color: blueviolet;
}
.about_head {
  color: cornflowerblue;
}

.navbar {
  background-color: rgb(183, 39, 104);
  padding: 20px;
}
